.news_title_page{
    width: 100%;
    padding: 105px 0 50px 100px;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
}
.news_details_image{
    padding: 0 100px;
    width: 100%;
    display: block;
}