@import "../../../styles/variables.scss";

.brands_list {
  display: flex;
  &-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 50px;
    width: 100%;
    justify-content: flex-start;
    img {
      height: 60px;
      width: 60px;
    }
    &-item {
      position: relative;
      a {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
      }
    }
  }
}
