.pagination {
margin-bottom: 50px;
width: 100%;
  display: flex;
  justify-self: flex-end;
  justify-content: center;
  nav {
    width: 100%;
    ul {
      width: 100%;
      justify-self: flex-end;
    }
  }
}
 