.modal_box {
  position: absolute;
  top: 50%;
  left: 50%;
  color: black;
  transform: translate(-50%, -50%);
  width: 400px;
  background: #d6d6d6;
  border-radius: 5px;
  box-shadow: 0 0 80px 3px rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  .buttons_group {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    button:hover {
      color: black;
      background-color: #53b6d2;
    }
  }
}
