$bodyColor: #0b0c10;
$headerBG: #12232e;
$carCardFontColor: #007cc7;
$carCardBorder: #12232e;
$carDetailsDealerBG: #071620;
$tableFontColorTD: #A9A9A9;
$textColor: #D7D7D7;
$searchPanelBG: #152836;
$listLineColor: #004A77;