@import "../../../../../styles/variables.scss";

.add_review {
  width: 60%;
  margin: 20px auto 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  &-span {
    font-weight: 500;
    font-size: 16px;
    transition: 0.4s ease;

    transform: translateY(60px);
  }
  .active_span {
    transition: 0.4s ease;
    transform: translateY(0px);
  }

  textarea {
    background-color: $searchPanelBG;
    border: none;
    border-radius: 3px;
    resize: vertical;
    min-height: 150px;
    padding: 20px;
    font-family: "Lato";
    font-weight: 600;
    font-size: 16px;
    color: $tableFontColorTD;
  }
  &-stars {
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
    .comfort,
    .design,
    .price,
    .performance,
    .reliability {
      cursor: default;
      transition: 0.8s ease-in-out;

      opacity: 0;
    }
    opacity: 0;
  }
  .active_stars {
    transition: 0.8s ease-in-out;
    opacity: 1;
    height: max-content;

    .reliability_active,
    .price_active,
    .performance_active,
    .design_active,
    .comfort_active {
      cursor: pointer;
      opacity: 1;
    }

    .reliability_active {
      transition: 0.8s ease-in-out;
    }
    .price_active {
      transition: 0.8s ease-in-out;
    }
    .performance_active {
      transition: 0.8s ease-in-out;
    }
    .design_active {
      transition: 0.8s ease-in-out;
    }
    .comfort_active {
      transition: 0.8s ease-in-out;
    }
  }
  button {
    padding: 15px 60px;
    font-weight: 600;
    width: max-content;
    font-size: 15px;
    line-height: 18px;
    background: $carCardFontColor;
    color: white;
    border: none;
    border-radius: 3px;
    opacity: 0;
    transition: 0.6s ease-in-out;
  }
  .button_active {
    opacity: 1;
    cursor: pointer;

    transition: 0.6s ease-in-out;
  }
}
.add_review-user_info {
  margin: 50px auto;
  text-align: center;
  a{
    color: $carCardFontColor;
  }
}
