@import "../../../styles/variables.scss";

.news_section.fade{
  opacity: 0;
}

.news_section {
  opacity: 1;
  transition: .8s ease-in;
  width: 75%;
  margin: 0 auto;
  padding: 50px 0;

  .news_select {
    display: flex;
    padding: 20px 0 20px 0;
    gap: 10px;
    button {
      width: 100px;
      border: none;
      background-color: transparent;
      color: $carCardFontColor;
      opacity: 0.5;
      font-weight: 900;
      font-size: 20px;
      line-height: 24px;
      border-bottom: 2px solid transparent;
      transition: all 0.7s ease;
      cursor: pointer;
    }
    .button_active {
      opacity: 1;
      border-bottom: 2px solid #007cc7;
    }
  }

  .news {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(2, 1fr);

    .news_box {
      display: flex;
      flex-direction: column;
      background-color: $carCardBorder;
      border-radius: 3px;
      position: relative;

      a {
        position: absolute;
        height: 100%;
        display: block;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        transition: 0.3s ease;
        border: 1px solid transparent;

        &:hover {
          border-radius: 3px;
          border: 1px solid $carCardFontColor;
        }
      }

      .news_text_box {
        .news_box-title {
          font-weight: 700;
          font-size: 28px;
          line-height: 34px;
          color: $carCardFontColor;
          width: max-content;
        }
        .news_box-text {
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
        }
        .expert_info {
          display: flex;
          align-items: flex-end;
          justify-content: flex-start;
          gap: 10px;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
          }
        }
      }
      img {
        object-fit: cover;
        height: 200px;
      }
    }
    .news_box-1 {
      grid-column: 1/6;
      grid-row: 1/3;
      img {
        border-radius: 3px 3px 0 0;
      }
    }
    .news_box-2 {
      grid-column: 6/12;
      grid-row: 1/2;
      flex-direction: row;
      .news_text_box {
        .news_box-title {
          font-size: 24px;
        }
      }
      img {
        width: 200px;
        border-radius: 3px 0 0 3px;
      }
    }
    .news_box-3 {
      grid-column: 6/12;
      grid-row: 2/3;
      flex-direction: row;
      flex-direction: row;
      .news_text_box {
        .news_box-title {
          font-size: 24px;
        }
      }
      img {
        width: 200px;
        border-radius: 3px 0 0 3px;
      }
    }
    .news_text_box {
      display: flex;
      gap: 10px;
      flex-direction: column;
      padding: 25px 25px 0 20px;
    }
  }
}
